body{
    text-align: center;        
}
h1{
    color: black;
    background-color:aqua;
        font-size:29pt;
    font-family: fantasy;
}
h2{
    background-color:antiquewhite;
    color: brown
}
h3{
    background-image: url(https://images.app.goo.gl/Fe3ZeW7xrBwtSqfk6)
}
h4{
    background-color:cyan;
    color:gray;
    font-family: sans-serif;
    font-size: 20pt;
    text-align: left;
}
h5{
    background-color: aquamarine;
    color: whitesmoke;
    font-size: 20pt;
    background-image:url(pixabay_maldives-1200.jpg)
}
h6{
    background-color: burlywood;

    color: whitesmoke;
    font-size: 20pt;
}